<div class="align_center">
  <%= image_tag "/images/eoi_logo.jpg", :class => "header_logo" %>
  <%= image_tag "/images/uimp_logo.jpeg", :class => "header_logo" %>
  <%= image_tag "/images/prendho_logo.jpg", :class => "header_logo" %>
</div>

<div class="the_tweets">
  <% @tweets.each do |tweet| %>
    <%= render 'tweet', tweet: tweet %>
  <% end %>
</div>


<%= javascript_tag do %>
  $(".the_tweets").linkify();
  App.RefreshBackchannel.init();  
<% end %>
